.advice 
    .container 
        .big
            .bigtitle Спецпредложения
            .txt: a(href="#") Перейти в раздел скидок 
                img(src="assets/img/arr.svg", alt="")
        .r
            +advice
            +advice
            +advice
            +advice
            +advice
            +advice
            +advice
            +advice
            +advice
            +advice