.company_pro
    .container
        .pro_title Проект из наших стройматериалов
        .pro_pic 
            .img(style='background-image:url(assets/img/pic4.jpg)')
                .pro
                    .title2 Аэропорт Казань
                    .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                    button.obj 
                        .text Перейти к объекту
            .img(style='background-image:url(assets/img/bg.jpg)')
                .pro
                    .title2 Аэропорт Казань
                    .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                    button.obj 
                        .text Перейти к объекту
            .img(style='background-image:url(assets/img/pic5.jpg)')
                .pro
                    .title2 Аэропорт Казань
                    .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                    button.obj 
                        .text Перейти к объекту
            .img(style='background-image:url(assets/img/pic1.jpg)')
                .pro
                    .title2 Аэропорт Казань
                    .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                    button.obj 
                        .text Перейти к объекту
            .img(style='background-image:url(assets/img/pic2.jpg)')
                .pro
                    .title2 Аэропорт Казань
                    .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                    button.obj 
                        .text Перейти к объекту
            .img(style='background-image:url(assets/img/pic3.jpg)')
                .pro
                    .title2 Аэропорт Казань
                    .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                    button.obj 
                        .text Перейти к объекту