.footer 
    .container 
        .logo2.splide
            .splide__track
                ul.splide__list
                    li.logo.splide__slide: img(src="assets/img/ruflex.png", alt="")
                    li.logo.splide__slide: img(src="assets/img/quick-mix.png", alt="")
                    li.logo.splide__slide: img(src="assets/img/feldhaus.png", alt="")
                    li.logo.splide__slide: img(src="assets/img/terca.png", alt="")
                    li.logo.splide__slide: img(src="assets/img/unis.png", alt="")
                    li.logo.splide__slide: img(src="assets/img/abk.png", alt="")
                    li.logo.splide__slide: img(src="assets/img/alpina.png", alt="")
.info2 
    .container
        .title Организация 
            ul.menu 
                li: a(href="#").link О компании 
                li: a(href="#").link Услуги 
                li: a(href="#").link Статьи 
                li: a(href="#").link Вакансии 
        .title Как купить
            ul.menu 
                li: a(href="#").link Доставка 
                li: a(href="#").link Оплата 
                li: a(href="#").link Проекты
                li: a(href="#").link Контакты
        .title Мы на связи
            .number 8 (843) 203-93-43
            a(href="#").link info@td-germes.ru
            .logotip
                a.logo(href="#"): img(src="assets/img/whatsapp.png", alt="")
                a.logo(href="#"): img(src="assets/img/telegram.png", alt="")
        .title Наш адрес 
            .city Казань
            .street ул.Сары Садыковой 30, 2 этаж
            .work Пн - Пт c 8:30 до 17:30 
                p Суббота с 9:00 до 14:00
        button.order 
            .text Оптовый заказ
.footer_bottom 
    .container
        .inform
            .text © 2012 — 2020, ООО «ТК «Гермес»  Сайт www.td-germes.ru носит исключительно информационный характер и ни при каких условиях не является публичной офертой. Для получения информации о стоимости товаров, пожалуйста, обращайтесь в отдел продаж компании Гермес.
            .card 
                img(src="assets/img/visaelectron.png", alt="")
                img(src="assets/img/mastercard.png", alt="")