header.header 
    .container
        .left 
            a.logo(href="#"): img(src="assets/img/germes_logo.png", alt="") 
        .center 
            ul.menu 
                li: a(href="#").link Услуги 
                li: a(href="#").link Доставка 
                li: a(href="#").link Оплата
                li: a(href="#").link Проекты
        .right 
            img(src="assets/img/star.png", alt="")
            img(src="assets/img/korzina.png", alt="") 
        .info 
            .number 8 (843) 203-93-43
            a(href="#") заказать обратный звонок 
.header_bottom
    .container
        .bottom
            button.cat 
                span 
                |Каталог
        .sale 
            a(href="#").link Акции 
        .inp_search 
            input(type="text", placeholder="Введите название товара")
            button.search  
                img(src="assets/img/Search.png", alt="")
        .company 
            a(href="company.html").link о компании
            a(href="contact.html").link Кoнтакты
        button.btn 
            .text Оптовый заказ