mixin advice
    .special
        .cart 
            .images
                .image(style='background-image:url(assets/img/Component2.png)')
                button.image1
                    img(src="assets/img/Star2.svg", alt="")
            .i
                img(src="assets/img/gisht.png", alt="")
            .title Кирпич облицовочный M95 Воткинский
            .text Кол-во на поддоне, шт. - 297
            .text Формат одинарный
            .text1 
                a(href="#").link бесплатная доставка
                a(href="#").link в наличии
            .price 4 500 
                img(src="assets/img/Vector.svg", alt="")
                .t / шт
            button.b
                .text Купить в 1 клик
            button.btn2 
                img(src="assets/img/blue.svg", alt="")
mixin company_pro 
    .company_pro
        .pro_pic 
            .img(style='background-image:url(assets/img/pic4.jpg)')
                .pro
                    .title2 Аэропорт Казань
                    .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                    button.obj 
                        .text Смотреть галерею
            .img(style='background-image:url(assets/img/bg.jpg)')
                .pro
                    .title2 Аэропорт Казань
                    .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                    button.obj 
                        .text Смотреть галерею
            .img(style='background-image:url(assets/img/pic5.jpg)')
                .pro
                    .title2 Аэропорт Казань
                    .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                    button.obj 
                        .text Смотреть галерею
            .img(style='background-image:url(assets/img/pic1.jpg)')
                .pro
                    .title2 Аэропорт Казань
                    .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                    button.obj 
                        .text Смотреть галерею
            .img(style='background-image:url(assets/img/pic2.jpg)')
                .pro
                    .title2 Аэропорт Казань
                    .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                    button.obj 
                        .text Смотреть галерею
            .img(style='background-image:url(assets/img/pic3.jpg)')
                .pro
                    .title2 Аэропорт Казань
                    .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                    button.obj 
                        .text Смотреть галерею

mixin articles(img='art.png') 
    .col-3 
        .art_big 
            .art_img 
            img(src="../assets/img/"+img, alt="")
            .art 
                .art_title Расчет кирпича
                .art_date 22 января
                .art_text Перед началом строительства любого здания или сооружения всегда встает вопрос о количестве материалов.
