.project 
    .container 
        .big
            .bigtitle Проект из наших стройматериалов
            .txt: a(href="#") Смотреть все проекты  
                img(src="assets/img/arrow2.svg", alt="")
        .photo 
            .img(style='background-image:url(assets/img/img1.jpg)')
                .pro
                    .title2 Аэропорт Казань
                    .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                    button.obj 
                        .text Перейти к объекту
            .img(style='background-image:url(assets/img/bg.jpg)')
                .pro 
                    .title2 Аэропорт Казань
                    .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                    button.obj 
                        .text Перейти к объекту
            .img(style='background-image:url(assets/img/img2.jpg)')
                .pro
                    .title2 Аэропорт Казань
                    .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                    button.obj 
                        .text Перейти к объекту   