.service 
    .container 
        .bigtit Дополнительные услуги  
            .row 
                .col-3 
                    .service_item
                        .del 
                            .icon 
                                img(src="assets/img/delivery.svg", alt="")
                            .tit Доставка стройматериалов 
                            .txt Комплекс услуг по доставке товара на Ваш строительный объект
                .col-3 
                    .service_item
                        .del 
                            .icon
                                img(src="assets/img/person.svg", alt="")
                            .tit Шеф-монтаж 
                            .txt Демонстрация секретов успешного строительства
                .col-3 
                    .service_item
                        .del 
                            .icon 
                                img(src="assets/img/Vector2.svg", alt="")
                            .tit Кладка кирпича
                            .txt Кладка кирпича и блоков Pototherm
                .col-3 
                    .service_item
                        .del 
                            .icon 
                                img(src="assets/img/Icons.svg", alt="")
                            .tit Сезонное хранение
                            .txt Хранение стройматериалов приобретенных зимой