.showroom 
    .container 
        .big
            .bigtitle Наш шоурум
            .txt: a(href="#") Перейти в контакты 
                img(src="assets/img/arrow2.svg", alt="") 
        .photo3 
            img(src="assets/img/screen.jpg", alt="")
            img(src="assets/img/screen2.jpg", alt="")
            img(src="assets/img/screen3.jpg", alt="")