.slid 
    .container 
        .catalog
            ul.menu 
                li: a(href="#").l  Стеновые материалы
                li: a(href="").l  Фасадные материалы
                li: a(href="").l  Строительные блоки
                li: a(href="").l  Отделочные материалы
                li: a(href="").l  Сухие смеси
                li: a(href="").l  Благоустройство
                li: a(href="").l  Лако-красочные материалы
                li: a(href="").l  Прочие услуги
                li: a(href="").l  Распродажа товаров
        .home   
            .photo 
                img(src="assets/img/home.jpg", alt="")
                .img(style='background-image:url(assets/img/Component.png)')

            .ban
                .big
                    .title Кирпич облицовочный M95 Воткинский 
                    .text Кол-во на поддоне, шт. - 297
                    .text1 Формат одинарный
                    .text2 
                        a(href="#").link бесплатная доставка 
                        a(href="#").link в наличии
                    .price 
                        .num 4 500 
                        img(src="assets/img/Rouble.svg", alt="")
                        .t / шт
                    button.buy 
                        .text Купить в 1 клик
                    button.korzina
                        img(src="assets/img/cart.svg", alt="")
.slid_bottom
    .container 
        .info 
            button.p 
                img(src="assets/img/car.svg", alt="")
            .text Доставка стройматериалов  
                p и аренда спецтехники
            button.p 
                img(src="assets/img/foiz.svg", alt="")
            .text Скидки застройщикам 
                p и оптовикам
            button.p 
                img(src="assets/img/icon.svg", alt="")
            .text Предлагаем 
                p лучшую цену
            button.p 
                img(src="assets/img/week.svg", alt="")
            .text Работаем 7 дней 
                p в неделю

