.gelerry{
  .container{
    .gelerry_menu{ 
      .breadcrumbs{
        display: flex;
        .item{
          font-size: 14px;
          font-family: 'rl';
          list-style-type: none;
          margin-top: 10px;
          color:$lightgrey;
          .link{
            text-decoration: none;
          }
          &:after{
            content: '/';
            margin-left: 4px;
            margin-right: 4px;
          }
          &:last-child::after{
            display: none;
          }
        }
      }
    }
    .gelerry_title{
      font-family: 'crm';
      font-size: 30px;
      color:$darkgrey;
      margin-top: 31px;
    }
    .gelerry_text{
      margin-top: 30px;
      a{
        font-size: 18px;
        font-family: 'rm';
        color:$grey;
        text-decoration: none;
        margin-right: 73px;
        &:active{
          color:$blue;
        }
        &:hover{
          color:$blue;
        }
      }
    }
    .gelerry_big{
      margin-top: 39px;
      .company_pro{
        .pro_pic{
            display: flex;
            flex-wrap: wrap;
            .img{
                margin-left: 26px;
                width:433px;
                margin-top: 30px;
                height:264px;
                border-radius: 12px;
                img{
                    background-repeat: no-repeat;
                    
                }
                
                &:hover{                      
                    .pro{
                        opacity:1; 

                    }
                }  
                .pro{
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), rgba(86, 97, 203, 0.68);
                    height:264px;
                    padding-top: 5px;
                    opacity:0;
                    transition: 0.3s;
                    border-radius: 12px;
                    .title2{
                        color:white;
                        font-size: 22px;
                        font-family: 'rm';
                        margin-top: 38px;
                        margin-left: 42px;
                    }
                    .text3{
                        color:white;
                        font-size: 16px;
                        font-family: 'rr';
                        margin-left: 42px;
                        margin-top: 17px;
                        margin-right: 68px;
                    }
                    .obj{
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), rgba(86, 97, 203, 0.68);
                        width: 155px;
                        height: 33px;
                        margin-left: 42px;
                        margin-top: 18px;
                        border-radius: 8px;
                        border: 2px solid white;
                        background-color: $blue;
                        &:focus{
                            outline: 0;
                        }
                        .text{
                            color:white;
                            font-size: 14px;
                            font-family: 'rr';
                        }
                    }
                }                    
            }                
        } 
      }
      
    }
  }
}