extends ../blocks/temp.pug

block content
    .category
        .container 
            .category_slid 
                ul.breadcrumbs
                    li.item: a(href="index.html").link Главная
                    li.item Каталог
                    li.item Стеновые материалы
                    li.item Кирпич
                .big_title Кирпич полнотелый (рядовой)
                .menu2
                    .modal 
                        .left2
                            .menu_title Кирпич
                            .menu_t Кирпич силикатный
                            .menu_t Кирпич полнотелый (рядовой) 
                            .menu_t Кирпич облицованный (Россия)
                            .menu_t Кирпич облицованный (имп)
                            .menu_t Распродажа кирпича
                        .type
                            .made Производитель
                            .check
                                input(type="checkbox")
                                .t Wienerberger
                            .check
                                input(type="checkbox")
                                .t Алексеевский
                            .check
                                input(type="checkbox")
                                .t Бакалинский
                            .check
                                input(type="checkbox")
                                .t Богданович
                            .check
                                input(type="checkbox")
                                .t Воткинский
                            .made Марка прочности
                            .check
                                input(type="checkbox")
                                .t M125
                            .check
                                input(type="checkbox")
                                .t M150
                            .made Формат
                            .check
                                input(type="checkbox")
                                .t Двойной кирпич
                            .check
                                input(type="checkbox")
                                .t Огнеупорный
                            .check
                                input(type="checkbox")
                                .t Ординарный
                            .made Пустотность
                            .check
                                input(type="checkbox")
                                .t Полнотелый
                            .check
                                input(type="checkbox")
                                .t Пустотелый
                    .banner
                        .banner_img(style='background-image:url(assets/img/fon.jpg)')
                            .orange(style='background-image:url(assets/img/orange.png)') Рекламный баннер 1 
                        .sort 
                            .sort_text Сортировать по:
                            select.po
                                option(value="") популярности 
                                option(value="") популярности 
                                option(value="") популярности 
                                option(value="") популярности 
                            .sort_t Полнотелый
                            .sort_t Двойной кирпич
                            .sort_t Огнеупорный
                            .sort_t2 Богданович
                        .r
                            .ad 
                                +advice
                                +advice
                                +advice
                                +advice
                                +advice
                                +advice
                                +advice
                                +advice
                                +advice
                                +advice
                                +advice
                                +advice
                                +advice
                                +advice
                                +advice
                                +advice
                        .next3 
                            button.next3_l
                                img(src="../assets/img/left.svg", alt="")
                            .nex3_num 1 2 3 
                            button.next3_r
                                img(src="../assets/img/right.svg", alt="")
                        .buy3
                            .buy3_title Купить полнотелый кирпич в Казани
                            .kazan
                                .seo 
                                    .seo1 Сео заголовок 1
                                    .seo2 Сео заголовок 2
                                    .seo3 Сео заголовок 3
                                .plus
                                    .buy3_text Полнотелый кирпич – это популярный строительный материал, который был изобретен столетия назад, но до их пор пользуется большим спросом. До наших времен дошло множество исторических построек, которые служат живым примером прочности и долговечности этого материала. Несмотря на появление новой разновидности кирпича с полостями внутри, полнотелый кирпич до сих пор пользуется большой популярностью.
                                    .buy3_text На кирпич и камень керамические общие технические условия и стандарты качества, установленные ГОСТ. Эти материалы обладают высокой прочностью, морозостойкостью, негорючестью, небольшая теплопроводность, влагостойкостью. продольное и поперечное. А сантиметр разницы уходит на слой строительного раствора.
                                    .buy3_text
                                        .b_t Мы осуществляем прямые поставки продукции с российских заводов-производителей, с заводов, расположенных в Европе, а также предлагаем доставку товара с собственных складских комплексов в Казани. 
                                        .b_t При необходимости возможна комплектация сборных грузов с разных складов в одном автомобиле.
                                        .b_t Мы составим для Вас оптимальный маршрут, оформим все необходимые документы, и осуществим контроль доставки товара с завода или складских комплексов до Вашего строительного объекта.
            




            
        
