extends ../blocks/temp.pug

block content
    .company 
        .container 
            .company_menu 
                .ul.breadcrumbs
                    li.item: a(href="index.html").link Главная
                    li.item О компании 
            .company_title О компании
                .company_info
                    .company_img 
                        img(src="../assets/img/image.jpg", alt="")
                    .company_text Специализируемся на поставках строительных материалов. Работаем по всей России
                        .company_txt 
                            .comp >15
                                .comp_t лет на рынке
                            .comp > 100
                                .comp_t товарных направлений
                            .comp > 10 000
                                .comp_t товарных позиций
                            .comp > 100
                                .comp_t товарных поставщиков
                        .comp_txt2 Полнотелый кирпич – это популярный строительный материал, который был изобретен столетия назад, но до их пор пользуется большим спросом. До наших времен дошло множество исторических построек, которые служат живым примером прочности и долговечности этого материала. Несмотря на появление новой разновидности кирпича с полостями внутри, полнотелый кирпич до сих пор пользуется большой популярностью.
                        .comp_t2 На кирпич и камень керамические общие технические условия и стандарты качества, установленные ГОСТ. Эти материалы обладают высокой прочностью, морозостойкостью, негорючестью, небольшая теплопроводность.
            .company_sertificate Сертификаты
                .sertificate 
                    .sertificate_img 
                        img(src="../assets/img/sertificate.png", alt="")
                    .ser
                        .sertificate_fon 
                            .sertificate_img1
                                img(src="../assets/img/sertificate2.png", alt="")
                            .sertificate_img1
                                img(src="../assets/img/sertificate2.png", alt="")
                            .sertificate_img1
                                img(src="../assets/img/sertificate2.png", alt="")
                            .sertificate_img1
                                img(src="../assets/img/sertificate2.png", alt="") 
                        button.blue_left 
                            img(src="../assets/img/blueleft.svg", alt="")
                        button.white_right 
                            img(src="../assets/img/whiteright.svg", alt="")
            .company_pro 
                .pro_title Проект из наших стройматериалов
                .pro_pic 
                    .img(style='background-image:url(assets/img/pic4.jpg)')
                        .pro
                            .title2 Аэропорт Казань
                            .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                            button.obj 
                                .text Перейти к объекту
                    .img(style='background-image:url(assets/img/bg.jpg)')
                        .pro
                            .title2 Аэропорт Казань
                            .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                            button.obj 
                                .text Перейти к объекту
                    .img(style='background-image:url(assets/img/pic5.jpg)')
                        .pro
                            .title2 Аэропорт Казань
                            .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                            button.obj 
                                .text Перейти к объекту
                    .img(style='background-image:url(assets/img/pic1.jpg)')
                        .pro
                            .title2 Аэропорт Казань
                            .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                            button.obj 
                                .text Перейти к объекту
                    .img(style='background-image:url(assets/img/pic2.jpg)')
                        .pro
                            .title2 Аэропорт Казань
                            .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                            button.obj 
                                .text Перейти к объекту
                    .img(style='background-image:url(assets/img/pic3.jpg)')
                        .pro
                            .title2 Аэропорт Казань
                            .text3 Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке. 
                            button.obj 
                                .text Перейти к объекту
                
        .bg 
            .container
                .company_comment 
                    .comment Отзывы 
                        .comment_text Полнотелый кирпич – это популярный строительный материал, который был изобретен столетия назад, но до cих пор пользуется большим спросом. 
                    .comment_all
                        .comment_img 
                            img(src="../assets/img/export.png", alt="")
                            img(src="../assets/img/export1.png", alt="")
                            img(src="../assets/img/export2.png", alt="")
                        .c_i
                            img(src="../assets/img/export3.png", alt="")
                        .button
                            button.blue_left 
                            img(src="../assets/img/blueleft.svg", alt="")
                            button.white_right 
                            img(src="../assets/img/whiteright.svg", alt="")
                        



