extends ..//blocks/temp.pug

block content 
  .gelerry 
    .container 
      .gelerry_menu 
        .ul.breadcrumbs 
          li.item: a(href="index.html").link Главная 
          li.item Корзина 
      .gelerry_title Проекты
      .gelerry_text 
        a.link(href="") Все проекты
        a(href="") Административные здания
        a(href="") Загородные дома
        a(href="") Многоэтажные дома
      .gelerry_big 
          +company_pro
          +company_pro
      .gelerry_up 
        .up_title Дом на Достоевской улице
        .up_text Комплекс услуг по доставке товара на Ваш строительный объект. Комплекс услуг по доставке.
