extends ../blocks/temp.pug

  
block content 


  include ../blocks/slider.pug
  include ../blocks/mixins.pug
  include ../blocks/advice.pug
  include ../blocks/project.pug 
  include ../blocks/service.pug
  include ../blocks/showroom.pug