extends ..//blocks/temp.pug

block content 
  .info 
    .container
      .info_menu 
        .ul.breadcrumbs
          li.item: a(href="index.html").link Главная
          li.item: a(href="").link  Вакансии   
          li.item Офис-менеджер   
      .info_title Офис-менеджер
      .info_con 
        .info_text Обязанности:
        .info_text2 • Реализация строительных материалов на строительные объекты и частным лицам города Казани и РТ; <br>• Работа с существующей клиентской базой и входящим трафиком;<br>• Привлечение и развитие новых клиентов;        <br>• подготовка коммерческих предложений;        <br>• Проведение переговоров с потенциальными кbrиентами‚        <p>холодные звонки, консультация кbrиентов по продукции      <br>компании;         <br>• Взаимодействие с проектировщиками, сbrроителями,         <p>прорабами, субподрядчиками иbrдр.;        <br>• Поддержание и развитие долгосрочных пbrртнерских         <p>отношений с клиентами;        <br>• Сопровождение сделки до отгрузки, оформление иbr       <p>предоставление необходимых документов;        <br>• Ведение базы клиентов в crm;        <br>• Выполнение плановых показателей;        <br>• Подготовка отчётной документации;        <br>• Участие в выставках‚ семинарах‚ презентациях;
      .info_con 
        .info_text Требования:
        .info_text2 • Высшее или средне-специальное образование; <br>• Знание технологий продаж и привлечения клиентов; <br>• Умение общаться с людьми и вести переговоры; <br>• Организованность, внимательность, ответственность, <br>самостоятельность, инициативность, стремление к развитию, ориентированность на результат; <br>• личные качества: коммуникабельность, грамотная речь, активность, целеустремлённость, желание зарабатывать; <br>• Умение достигать запланированных результатов в поставленные сроки;
      .info_con2 
        .info_text Условия:
        .info_text2 • Оклад 15 000 рублей;<br>• Совокупный доход от 30 000 рублей; <br>• Бонусы за перевыполнение плана продаж; <br>• Простая и понятная система мотивации; <br>• компенсация мобильной связи; <br>• Поддержка на начальном этапе работы; <br>• Обучение специфике и профессиональной технике продаж за счет компании;<br>• Первоначальная клиентская база; <br>• Молодой дружный коллектив; <br>• Совместный отдых; <br>• Постоянная, полный день, работа на территории работодателя; <br>• Оформление, отпуск, больничный и пр. по ТК; <br>1• 5-дневная рабочая неделя с 8-30 до 17-30.
      button.info_btn Оставить заявку

