extends ..//blocks/temp.pug

block content 
  .payment 
    .container
      .delivery_menu 
        .ul.breadcrumbs
          li.item: a(href="index.html").link Главная
          li.item: a(href="").link Каталог 
          li.item: a(href="").link Стеновые материалы
          li.item Кирпич
      .delivery_big
        .delivery_title Способы оплаты товаров и услуг
        .type 
          a(href="") Наличный расчет 
          a(href="") Банковской картой
          a(href="") Безналичный расчет 
          a(href="") Online оплата  
        .delivery_text Стоимость доставки зависит от веса заказа, поэтому точную стоимость доставки просьба уточнять у менеджера магазина по тел. +7(843) 203-93-43. 
          <p>Сроки доставки: в день заказать и до 3-х рабочих дней для отдельных позиций. 
          <p>Стоимость доставки в зависимости от веса заказа: <p>до 1,5 тонн - 2500 руб.
          <br>до 2 тонн - 3500 руб.
          <br>до 3 тонн - 4000 руб.
          <br>до 5 тонн - 9000 руб.
          <br>до 8 тонн - 11000 руб.
          <br>до 20 тонн - 18000 руб.
        .delivery_title Доставка по Республике Татарстан
        .delivery_text Компания Гермес осуществляет доставку материалов 7 дней в неделю по всей территории Российской Федерации. Мы совершаем прямые поставки продукции с заводов-производителей России и Европы, а также доставку товара с собственных складов на территории Казани.
        .delivery_title Самовывоз
        .delivery_text Компания Гермес осуществляет доставку материалов 7 дней в неделю по всей территории Российской Федерации. 
        .delivery_title Частые вопросы
        .qu
          .delivery_qu
            .qu_text
              .delivery_text2 Как получить бесплатную доставку?
                .text Компания Гермес осуществляет доставку материалов 7 дней в неделю по всей территории Российской Федерации. 
              .img_up
                img(src="../assets/img/up.svg", alt="")
            .qu_text
              .delivery_text2 Как получить бесплатную доставку?
              .img_up
                img(src="../assets/img/down2.svg", alt="")
            .qu_text
              .delivery_text2 Как получить бесплатную доставку?
              .img_up
                img(src="../assets/img/down2.svg", alt="")
          .delivery_qu
            .qu_text
              .delivery_text2 Как получить бесплатную доставку? 
              .img_up
                img(src="../assets/img/up.svg", alt="")
            .qu_text
              .delivery_text2 Как получить бесплатную доставку?
              .img_up
                img(src="../assets/img/down2.svg", alt="")
            .qu_text
              .delivery_text2 Как получить бесплатную доставку?
              .img_up
                img(src="../assets/img/down2.svg", alt="")
            .qu_text
              .delivery_text2 Как получить бесплатную доставку?
              .img_up
                img(src="../assets/img/down2.svg", alt="")