extends ..//blocks/temp.pug

block content 
  .vacancies 
    .container 
      .vacancies_menu 
        .ul.breadcrumbs
          li.item: a(href="index.html").link Главная
          li.item: a(href="").link Каталог 
          li.item: a(href="").link Стеновые материалы
          li.item Кирпич
      .vacan_big
        .vacancies_title Вакансии
        .vacancies_img 
          .vac_back(style='background-image:url(assets/img/vacan.jpg)')
            .vac 
              .vac_title  
                a(href="")  Заведующий складом
              button.vac_btn 
                .text Подробнее
          .vac_back(style='background-image:url(assets/img/vacan.jpg)')
            .vac2 
              .vac_title 
                a(href="info.html")  Офис-менеджер
              button.vac_btn 
                .text Подробнее
          .vac_back(style='background-image:url(assets/img/vacan.jpg)')
            .vac 
              .vac_title Заведующий складом
              button.vac_btn 
                .text Подробнее
          .vac_back(style='background-image:url(assets/img/vacan.jpg)')
            .vac 
              .vac_title Заведующий складом
              button.vac_btn Подробнее
          .vac_back(style='background-image:url(assets/img/vacan.jpg)')
            .vac 
              .vac_title Заведующий складом
              button.vac_btn Подробнее
          .vac_back(style='background-image:url(assets/img/vacan.jpg)')
            .vac2 
              .vac_title Заведующий складом
              button.vac_btn Подробнее
          .vac_back(style='background-image:url(assets/img/vacan.jpg)')
            .vac 
                .vac_title Заведующий складом
                button.vac_btn Подробнее